body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    height: 300px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 5px;
    /* width: 100%; */
    transition: background-color 0.3s ease;
  }
  
  .Reset{
    background-color: rgb(255, 100, 58);
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  
  .toggle-switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .toggle-label {
    font-size: 1rem;
    margin-right: 10px;
  }
  
  .toggle-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  
  .toggle-switch .switch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .toggle-switch .switch::before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: white;
    left: 4px;
    bottom: 4px;
    transition: 0.3s;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .switch {
    background-color: #007bff;
  }
  
  .toggle-switch input[type="checkbox"]:checked + .switch::before {
    transform: translateX(26px);
  }